<h1>ASCII ART</h1>
<form action="/ascify/show/">
  입력:<input type="text" name="content">
  <input type="submit">
<br>
    <select name="font">
      <option value="standard">Standard</option>
      <option value="big">Big</option>
      <option value="thin">Thin</option>
      <option value="slant">Slant</option>
    </select>
</form>